*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089;
    background: #fff;
left: 0;
z-index: 100;

}

/* -------- New Arrivals Section -------- */

.new-arrivals-section {
    text-align: center;
    padding: 50px 0;
}

.section-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: #222;
    font-weight: bold;
}

.books-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.book-card {
    border: 1px solid #dcdcdc;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: 0.3s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 8px 8px 0 0 ;
}

.book-category {
    font-size: 15px;
    margin: 10px 0;
    color: #444;
}

.stars {
    color: #00bcd4;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-learn {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #089da1;
    color: #089da1;
    background-color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.btn-learn:hover {
    background-color: #089da1;
    color: #fff;
}
/******************************/
body{
margin: 0;
padding: 0;
font-family: Arial, sans-serif;

}
.section-title{

    text-align:center;
font-size: 32px;
margin-top: 40px;
margin-bottom: 20px;
font-weight: bold;

}

.reviews-container{
width:90%;
margin:auto;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 25px;

}

.review-card{
background: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;

}

.review-img{
width: 60px;
height: 60px;
border-radius: 50%;
}

.review-name{
margin: 10px 0;
font-size:20px ;
font-weight: bold;

}

.review-text{
font-size: 14px;
color: #555;


}
.stars2{
margin-top: 10px;
color: #00A8E8;
font-size: 20px;

}




.digital-book{
margin-top:60px ;
width: 100%;
height: 350px;
display: flex;
align-items:center ;
background-image:url(images/banner.jpg);
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
padding-left: 120px;
justify-content:flex-start ;
position: relative;


}

.digital-book  .learn-btn{
left:80px;
position: absolute;
bottom: 28px;
background:#089da1 ;
color:white;
padding: 12px 28px;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
z-index: 5;
box-shadow: 0 4px 10px rgba(0,0,0,0.15);

}
/*end page 2 */

*{box-sizing: border-box;}


.blog-section{
width:90%;
margin:40px auto ;
text-align: center;

}

.blog-title{
font-size:34px;
margin-bottom: 40px;
font-weight: 700;
margin: 36px 0 20px;
font-family: "Segoe UI" Tahoma,Arial, sana-serif;

}

.blog-container{
width:92%;
max-width :1200px; ;
margin: 0 auto;
}

.blog-container::after{
content: "";
display: table;
clear: both;
}

.blog-card{
width:calc(33.333% - 20px);
float:left;
margin: 0 10px 30px;
border: 1px solid #e9e9e9;
border-radius: 4px;
box-shadow: 0px 6px 18px rgba(12,40,50,0.06);
overflow: hidden;
display: flex;
flex-direction: column;
padding-bottom: 10px;
}

.blog-card:nth-child(3n){

margin-right: 0;

}

.blog-img{
width: 100%;
height: 220px;
object-fit: cover;
display: block;
}

.blog-name{
padding: 12px 10px;
font-size: 18px;
color: #089da1;
margin: top 1px;
font-weight: 700;
text-align: left;

}

.blog-text{
padding:0 10px ;
font-size: 14px;
color:#212121;
line-height: 1.5;
flex:1;
margin: 0;



}

.blog-icons{
padding: 10px;

display:flex;
justify-content: space-between;

}

.blog-icons i{
font-size: 20px;
margin-right: 10px;
color: #089da1;

}
/=================================================================================/
.site-footer{
background: #eaeaea;
color:#111212;
padding: 32px 0 12px;
font-family: "Segoe UI",Arial, sana-serif;
font-size: 14px;
font-weight: 500;
}

.footer-inner{
width: 92%;
max-width: 1200px;
margin: 0 auto;
display: grid;
grid-template-columns: 1.6fr 1fr 1fr 1.6fr 1.2fr; 
gap: 20px;
align-items: start;

}

.footer-col h4{
margin: 0 0 12px;
font-size: 17px;
font-weight: 700;
color: #111;
}

.footer-about .footer-logo-img{
width: 72px;
height: auto;
display: block;
margin-bottom: 12px;
}

.desc{
font-size: 14px;
color:#05071b;
line-height: 1.6;
margin: 0;
}

.footer-links ul{

list-style: none;
padding: 0;
margin: 0;

}

.footer-links li{
margin-bottom: 8px;

}

.footer-links a{
text-decoration: none;
color:#222;
font-size: 14px;
transition: color .15s;
}
.footer-links a:hover{color:#089da1;}

.contact-row{

display: flex;
align-items: center;
gap:8px;
margin-bottom: 10px;
color:#222;
font-size: 14px;

}


.contact-row .material-icons{

font-size: 18px;
color:#089da1;

}

.socials{
display: flex;
gap:10px;
align-items: flex-start !important;

}

.social-btn{
    
align-items: center;
justify-content: center;
width: 32px;
height: 32px;
border-radius: 4px;
color:black;
text-decoration: none;
font-weight: 700;
transition: 0.2s;
font-size: 16px;
}

.social-btn:hover{
background: #089da1;



}

.newsletter-form{
display: flex;
gap: 8px;
align-items:flex-start !important;
flex-direction: column;

}

.newsletter-input{
flex: 1;
padding: 10px 15px;
border-radius: 25px;
border: 1px solid #ccc;
background: #cacaca;
font-size: 14px;
outline: none;


}

.newsletter-btn{
padding: 10px 18px;
background: #089da1;
color: #fff;
border: none;
border-radius: 25px;
cursor: pointer;
font-size: 13px;
display: flex;
align-items: center;
gap: 5px;

}


.footer-bottom{
text-align: center;
padding-top: 14px;
font-size: 13px;
color:#666
}

.by-link {color:#089da1; text-decoration:none ;}